html, body {
    background: white;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background: #4b76e8;
    color: #fff;
    letter-spacing: 1;
    padding: 1em 0;
    border-bottom: 5px solid #4064c5;
}
header h1 {
    margin: 0;
}
.main {
    width: 90%;
    margin: auto;
}
h1 {
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}
p {
    font-size: 1.4em;
    text-align: center;
    line-height: 1.4em;
    margin-bottom: 0;
}
p + p {
    margin-top: 0.5em;
}
ul {
    display: block;
    list-style: none;
}
.rankings {
    margin: 2em 0;
}
.rankings .label {
    color: #bbb;
    letter-spacing: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.features {
    max-width: 500px;
    margin: 0.5em auto;
    padding: 0;
}
.features li {
    position: relative;
    display: block;
    font-size: 1.2em;
    padding: 10px 15px;
    background: #f0f7fa;
    border: 1px solid #dce3e5;
    /*border-top: 0;*/
    margin-bottom: -1px;
    cursor: pointer;
    color: #333;
}
.features li:first-child {
    border-top: 1px solid #dce3e5;
}
.features li i {
    padding-right: 0.7em;
    color: #cfdfe5;
}
.features li:hover i {
    color: #bfd6e0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn {
    display: block;
    margin: auto;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-green {
    background-color: #A0C55F;
    color: white;
}
.btn-green:hover {
    background-color: #7AB317;
}
.messages {
    display: none;
}
.messages div {
    margin: 1em 0;
    letter-spacing: 1;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.messages .success {
    color: green;
}
.messages .fail {
    color: red;
}